$myFont: "Poppins", sans-serif;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700
);
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248,32%,49%);
$darkblue: hsl(249, 10%, 26%);
$grayishblue: hsl(246, 25%, 77%);
$mobile: 800px;